
config SPIRIT1
	bool "Spirit1"
	select EVENTS
	depends on GPIO
	depends on SPI

if SPIRIT1

module = SPIRIT1
module-str = spirit1
source "subsys/logging/Kconfig.template.log_config"

config SPIRIT1_INIT_PRIORITY
	int "Spirit1 Initialization priority"
	default 90
	help
	  System initialization priority for Spirit1 drivers.


endif # SPIRIT1
